    <!-- ejercicio To-do
    <div class="container">
        <div class="izquierda">
            <app-formulario (tareaCreada)="onTareaCreada($event)"></app-formulario>
        </div>
        <div class="derecha">
            <app-lista [tareas]="arrTarea"></app-lista>
        </div>
    </div>
    -->
        
    <!-- Caja registradora
    <h1>Caja Registradora</h1>
    <div class="container">
        <div class="izquierda">
            <app-lista-productos titulo= "Comida" [productos]="arrComida"
            (productoSeleccionado)=" onProductoSeleecionado($event)"></app-lista-productos>
            <app-lista-productos titulo="Bebida" [productos]="arrBebida" 
            (productoSeleccionado)=" onProductoSeleecionado($event)"></app-lista-productos>
        </div>
        <div class="derecha">
            <app-comanda [arrProductos]="productoSeleccionados"></app-comanda>
        </div>
    </div>
    -->
 
    <!--Lista de compra
<div class="container">
    <div class="row">
        <app-formulario2 (productoCreado)="onProductoCreado($event)"></app-formulario2>
    </div>
    <div class="row listas">
        <div class="izquierda">
            <app-listaproductos [productoss]="prodSeleccionados"
             (producta)="onProducrosSeleccionado($event)"
             textoBoton="COMPRAR"></app-listaproductos>
        </div>
        <div class="derecha">
            <app-listaproductos [productoss]="prodComprados" 
            (producta)="onPodNoSelec($event)"
            textoBoton="QUITAR"></app-listaproductos>
        </div>       
    </div>
</div>
-->

    <!--Lista empleados
    <div class="container">
        <div class="menu">
            <button class="btn btn-primary m r-2" [routerLink]="['/new']">Formulario</button>
            <button class="btn btn-primary" [routerLink]="['/list']" >Lista Empleados</button>
        </div>
        <router-outlet></router-outlet>
    </div>
    -->

    <!--Paises
    <div class="paises">
        <div class="pais" *ngFor="let pais of paises">
            <img [src]="pais.flag">
            <h4>{{pais.translations['es'] }}</h4>
            <p>Capital {{pais.capital}}</p>
        </div>
    </div>
    -->

    <div class="contenedor">
        <h1>Lista de personajes</h1>
        <h3>
            Páginas: {{numPages}}
        </h3>
        <div class="botones">
            <button class="btn btn-primary" (click)="changePage(false)">Anterior</button>
            <button class="btn btn-primary" (click)="changePage(true)">Siguiente</button>
        </div>
        <div class="row">
            <div class="col-6 col-md-3"*ngFor="let personaje of arrPersonajes">
                <div class="personaje" [ngClass]="{vivo:(personaje.status=== 'Alive'),
                muerto:(personaje.status==='Dead')}">
                    <h3>{{personaje.name}}</h3>
                    <img [src]="personaje.image">
                    <p>{{personaje.species}}</p>
                </div>
            </div>
        </div>
    </div>